body,
html {
    overflow-x: hidden;
}

.hero {
    position: relative;
    height: 800px;
    background: url("https://wallpapercave.com/dwp2x/wp4083806.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* .heroBackground img {
    height: 800px;
    filter: brightness(60%);
} */

.heroContent {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroContent img {
    height: 100px;
}

.heroContent p {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

.featuredActivities {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0 50px 0;
}

.featuredActivities h2 {
    margin-bottom: 30px;
    font-weight: bold;
    color: #007DA1;
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
}

.activities {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.featuredPosts {
    margin-bottom: 30px;
}

.actionCards {
    margin: 30px 0;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#actionTitle {
    font-family: 'Kaushan Script', cursive;
    color: #26AEC0;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cards {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #EBF8F7;
    padding: 20px;
    border-radius: 20px;
}

.viewMore {
    margin-top: 80px;
    background-color: #51c4d3;
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.viewMore:hover {
    background-color: #26aec0;
    transform: translateY(-2px);
}

@media screen and (max-width: 900px) {

    .featuredActivities {
        margin: 50px 0;
    }

    .heroContent p {
        width: 70%;
        font-size: 1.2rem;
    }

    .heroBackground img {
        filter: brightness(60%);
    }

    .viewMore {
        margin-top: 40px;
    }
}

@media screen and (max-width: 400px) {
    .featuredActivities h2 {
      font-size: 2rem;
    }

    #actionTitle {
        font-size: 2.5rem;
    }
}