body,
html {
    overflow-x: hidden;
}

.createPostContainer {
    background: url("../../../public/Assets/createbg.png");
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 50px;
}

.formContainer form {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.picsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 40px;
    padding: 0 40px;
}

.picsContainer h1 {
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 25px;
    font-size: 1.2rem;
}

.picsContainer label {
    display: flex;
    justify-content: center;
}

.picsContainer #upload {
    margin: 30px 0;
}

.uploadedPictures {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.columns {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#lastInput {
    align-self: flex-start;
}

.column .input label {
    font-size: 1rem;
    font-weight: bold;
}

.column input {
    display: flex;
    /* flex-direction: column; */
    font-size: 15px;
    height: 40px;
    width: 100%;
    font-size: 1rem;
    outline: 0;
    border: 0;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    /* width: 100%; */
}

.column .input .formInput {
    display: flex;
    flex-direction: column;
}

.column .input .type {
    width: 70%;
    margin-top: 10px;
    height: 35px;
    background: white;
    border-radius: 5px;
    color: #0c4957;
}

.post_button {
    width: 50%;
    height: 50px;
    border: none;
    background: #26AEC0;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.post_button .button {
    width: 100%;
    height: 50px;
    border: none;
    background: transparent;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 600px) {
    .inputContainer {
        width: 80%;
    }

    .picsContainer {
        width: 80%;
    }
}