body,
html {
    overflow-x: hidden;
}

.postPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.postPage .navContainer {
    background-color: #0b5b6de1;
}

.postPage .post-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.postPage .post-container .left-post-container {
    width: 45%;
}


.postPage .post-container .description-container {
    width: 100%;
    font-size: 1.1rem;
    padding-bottom: 20px;
    border-bottom: 3px solid #51C4D3;
    text-align: center;
}

.postPage .post-container .description-container h1 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #0b5b6de1;
}


.map-container .mapboxgl-map {
    width: 600px;
}

.right-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 45%;
    justify-content: center;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images img {
    height: 400px;
    width: 600px;
    object-fit: cover;
}

.images .arrows {
    display: flex;
    justify-content: center;
}

.images .arrow {
    margin: 20px;
    font-size: 40px;
    color: #51C4D3;
    cursor: pointer;
}

.information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    border-bottom: 3px solid #51C4D3;
    font-size: 1.1rem;
}

.post-container .title {
    background-color: #dbecef;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    width: fit-content;
    margin: 10px 0;
}

.post-container span {
    color: #126e82;
    font-weight: bolder;
}

.post-container p {
    margin: 5px 0;
}

.post-container .icon {
    color: #51c4d3;
    padding-right: 10px;
}

.post_button {
    width: fit-content;
    padding: 10px 25px;
    height: 40px;
    border: none;
    background: #51c4d3;
    border-radius: 25px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.post-container .post-button-container {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.comments-container {
    padding-top: 20px;
}

.comments-container .comments-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.information-container .info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.comments {
    background-color: #EEEEEE;
    overflow-y: scroll;
    height: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.comment-box {
    background: #3AA6B9;
    color: white;
    font-size: 1.1rem;
    padding: 20px;
    width: 90%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.comment-box:hover {
    transform: translate(-2px);
}

@media screen and (max-width: 600px) {
    .postPage .post-container .left-post-container {
        width: 80%;
    }

    .right-post-container {
        width: 90%;
    }

    .information-container .info-header {
        padding-bottom: 20px;
    }

    .comments-container .comments-header {
        justify-content: center;
    }

    .images img {
        height: 200px;
        width: 300px;
        object-fit: cover;
    }

    .comments {
        height: 400px;
    }

    .information-container .info-header {
        justify-content: center;
    }
    
    .post-button-container {
        justify-content: center;
    }
}

/* 
@media screen and (max-width: 600px) {
    
    .postPageBG {
        height: 400px;
    }
    
    .upperContent h1 {
        color: #126e82;
        font-size: 2rem;
        font-weight: bold;
    }

    .upperContent p {
        margin-top: 10px;
        font-size: 1rem;
    }

    .postContainer {
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .leftContainer {
        width: 90%;
        align-items: center;
    }

    .rightContainer {
        width: 90%;
        margin-top: 30px;
        font-size: 1rem;
        height: fit-content;
    }

} */