.userPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userPageContainer .navContainer {
    background-color: #0b5b6de1;
}

.infoContainer {
    padding-top: 80px;
    padding-bottom: 20px;
    /* background: linear-gradient(-45deg, #60c3d8, #126e82, #548492, #60c3d8); */
    /* animation: gradient 15s ease infinite; */
    /* background-color: #ebf8f7; */
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid #60c3d8;
    background-size: 400% 400%;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    height: fit-content;
    /* padding: 20px; */
    flex-wrap: wrap;
    font-size: 1.5rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.infoContainer .column {
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.infoContainer .col {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: justify;
}

.infoContainer #profile {
    align-items: flex-end;
    margin-right: 30px;
}
.infoContainer #bio {
    margin-left: 30px;
    justify-content: flex-start;
    align-items: flex-start;
}

.infoContainer .col .pic {
    width: 150px;
    height: 150px;
}

.infoContainer .col .pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.col span {
    color: #126e82;
    font-weight: 900;
    font-size: 1.2rem;
    font-family: 'Kaushan Script', 'cursive';
}

.col p {
    color: black;
    font-weight: 200;
    font-size: 1rem;

}

.edit-button button{
    /* width: 50%; */
    padding: 0px 20px;
    height: 40px;
    border: none;
    margin-top: 30px;
    background: #51c4d3;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.searchedPosts {
    position: relative;
    display: flex;
    justify-content: center;
    background: url("../../../public/Assets/canoeing.jpg");
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* repeat: no-repeat; */
    /* background-size: cover; */
}


@media screen and (max-width: 600px) {

    .infoContainer {
        gap: 20px;
        align-items: center;
    }

    .infoContainer .column {
        width: 80%;
    }

    .infoContainer .col {
        width: 80%;
    }
    
    .infoContainer #bio {
        align-items: center;
        margin-left: 0;
    }

    .infoContainer #profile {
        align-items: center;
        margin-right: 0;
    }
}